<div class="searchpage py-12 container mx-auto">
  <div class="searchpageinp mb-6">
    <form class="searchform mx-auto">
      <input name="searchinp" type="text" placeholder="Search foods" />

      <button type="submit">
        <i class="las la-search la-lg"></i>
      </button>
    </form>
  </div>
  <div
    class="searchresultdiv grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16 mb-8 mt-8"
  ></div>
</div>

<script>
  //   function Searchpagefunc() {

  //   }
</script>
